In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

C:\Users\w4025\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\w4025\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\w4025\AppData\Local\Continuum\anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [11]:
data = pd.read_csv('50_Startups.csv')

# Preprocessing Steps

In [12]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [13]:
data = pd.get_dummies(data, columns= ['State'], prefix = 'state', drop_first= True)

In [27]:
nums = data.iloc[:,:4]

In [28]:
nums.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
state_Florida      50 non-null uint8
state_New York     50 non-null uint8
dtypes: float64(3), uint8(2)
memory usage: 1.3 KB

In [29]:
y = data.pop('Profit')

In [51]:
X = data

# Spliting the dataset

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Building the full model

In [42]:
lr = LinearRegression()

In [43]:
regressor = lr.fit(X_train, y_train)

In [44]:
y_pred = regressor.predict(X_test)

In [45]:
y_pred

array([178180.16972357,  67316.47663617,  76820.99868984,  57811.83774899,
       168146.17322374,  60351.29731623, 105027.28974167, 111471.10666068,
       186468.34371525, 110377.47912774, 127819.86319048,  52753.06554188,
        96964.93530667])

# Evaluating the dataset

In [47]:
r2_score(y_pred, y_test)

0.9041036003785061

In [48]:
y_pred_train = regressor.predict(X_train)

In [49]:
r2_score(y_pred_train,y_train)

0.9580210708389949