In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import statsmodels.api as sm

In [2]:
data = pd.read_csv('50_Startups.csv')

# Preprocessing Steps

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data = pd.get_dummies(data, columns= ['State'], prefix = 'state', drop_first= True)

In [5]:
nums = data.iloc[:,:4]

In [6]:
nums.corr()

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
Profit             50 non-null float64
state_Florida      50 non-null uint8
state_New York     50 non-null uint8
dtypes: float64(4), uint8(2)
memory usage: 1.7 KB

In [8]:
y = data.pop('Profit')

In [9]:
X = data
X

    R&D Spend  Administration  Marketing Spend  state_Florida  state_New York
0   165349.20       136897.80        471784.10              0               1
1   162597.70       151377.59        443898.53              0               0
2   153441.51       101145.55        407934.54              1               0
3   144372.41       118671.85        383199.62              0               1
4   142107.34        91391.77        366168.42              1               0
5   131876.90        99814.71        362861.36              0               1
6   134615.46       147198.87        127716.82              0               0
7   130298.13       145530.06        323876.68              1               0
8   120542.52       148718.95        311613.29              0               1
9   123334.88       108679.17        304981.62              0               0
10  101913.08       110594.11        229160.95              1               0
11  100671.96        91790.61        249744.55              0               0
12   93863.75       127320.38        249839.44              1               0
13   91992.39       135495.07        252664.93              0               0
14  119943.24       156547.42        256512.92              1               0
15  114523.61       122616.84        261776.23              0               1
16   78013.11       121597.55        264346.06              0               0
17   94657.16       145077.58        282574.31              0               1
18   91749.16       114175.79        294919.57              1               0
19   86419.70       153514.11             0.00              0               1
20   76253.86       113867.30        298664.47              0               0
21   78389.47       153773.43        299737.29              0               1
22   73994.56       122782.75        303319.26              1               0
23   67532.53       105751.03        304768.73              1               0
24   77044.01        99281.34        140574.81              0               1
25   64664.71       139553.16        137962.62              0               0
26   75328.87       144135.98        134050.07              1               0
27   72107.60       127864.55        353183.81              0               1
28   66051.52       182645.56        118148.20              1               0
29   65605.48       153032.06        107138.38              0               1
30   61994.48       115641.28         91131.24              1               0
31   61136.38       152701.92         88218.23              0               1
32   63408.86       129219.61         46085.25              0               0
33   55493.95       103057.49        214634.81              1               0
34   46426.07       157693.92        210797.67              0               0
35   46014.02        85047.44        205517.64              0               1
36   28663.76       127056.21        201126.82              1               0
37   44069.95        51283.14        197029.42              0               0
38   20229.59        65947.93        185265.10              0               1
39   38558.51        82982.09        174999.30              0               0
40   28754.33       118546.05        172795.67              0               0
41   27892.92        84710.77        164470.71              1               0
42   23640.93        96189.63        148001.11              0               0
43   15505.73       127382.30         35534.17              0               1
44   22177.74       154806.14         28334.72              0               0
45    1000.23       124153.04          1903.93              0               1
46    1315.46       115816.21        297114.46              1               0
47       0.00       135426.92             0.00              0               0
48     542.05        51743.15             0.00              0               1
49       0.00       116983.80         45173.06              0               0

# Spliting the dataset

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Building the full model

In [11]:
lr = LinearRegression()

In [12]:
regressor = lr.fit(X_train, y_train)

In [13]:
y_pred = regressor.predict(X_test)

In [14]:
y_pred

array([162547.00784973,  69952.05081505, 128636.42082947,  63656.60056681,
        94983.19608499, 126055.26732671, 180740.86816892,  86187.49655751,
       156752.700605  , 132387.71561385,  42337.82574579,  73552.67423801,
        64146.50173126])

# Evaluating the dataset

In [15]:
r2_score(y_pred, y_test)

0.9148243150433361

In [16]:
y_pred_train = regressor.predict(X_train)

In [17]:
r2_score(y_pred_train,y_train)

0.9581369085005959

# OLS models

In [18]:
import statsmodels.api as sm

In [29]:
X = np.append(arr = np.ones((50,1)).astype(int), values = X, axis =1)

In [31]:
X_opt = X[:,[0,1,2,3,4,5]]

In [21]:
X.shape
# X_opt.shape

(50, 6)

# backward elimination

In [22]:
reg = sm.OLS(endog = y, exog = X_opt).fit()

In [23]:
reg.predict(X_opt)

array([192390.57136429, 189071.32010608, 182276.1867345 , 173584.97619108,
       172277.13381838, 163473.80711955, 158099.29278801, 160155.64465047,
       151634.74332701, 154829.66252844, 135664.64259184, 135528.60078267,
       129282.91780725, 127431.24898645, 149694.38277681, 146143.63551509,
       116854.07452809, 130085.40993336, 129149.72574252, 115594.18841023,
       116570.73443895, 117201.50508836, 114833.3051371 , 110123.79610436,
       113294.37345272, 102200.26891882, 110765.3011695 , 114279.80402798,
       101818.58738695, 101721.04202987,  99629.01053817,  97617.29632068,
        98988.23660442,  98061.35894744,  88974.70416102,  90420.00960497,
        75423.09286319,  89577.70222119,  69606.52160702,  83684.97603881,
        74762.74617453,  74956.31104754,  70575.99371216,  60100.26821775,
        64585.14721213,  47588.3647087 ,  56272.99268001,  46468.23200346,
        49123.07308238,  48185.03879082])

In [24]:
reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       0.951
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                     169.9
Date:                Sun, 29 Sep 2019   Prob (F-statistic):           1.34e-27
Time:                        10:21:16   Log-Likelihood:                -525.38
No. Observations:                  50   AIC:                             1063.
Df Residuals:                      44   BIC:                             1074.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.013e+04   6884.820      7.281      0.000    3.62e+04     6.4e+04
x1             0.8060      0.046     17.369      0.000       0.712       0.900
x2            -0.0270      0.052     -0.517      0.608      -0.132       0.078
x3             0.0270      0.017      1.574      0.123      -0.008       0.062
x4           198.7888   3371.007      0.059      0.953   -6595.030    6992.607
x5           -41.8870   3256.039     -0.013      0.990   -6604.003    6520.229
==============================================================================
Omnibus:                       14.782   Durbin-Watson:                   1.283
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.266
Skew:                          -0.948   Prob(JB):                     2.41e-05
Kurtosis:                       5.572   Cond. No.                     1.45e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.45e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Assumptions of Linear Regression

In [25]:
# Linearity of the variables

In [26]:
import statsmodels.stats.api as sms
import statsmodels.api as sms
linearity = {}
for i in range(X.shape[1]):
#     reg = sm.OLS(endog = y, exog = X[:,i]).fit()
#     linearity[i] = sms.linear_harvey_collier(reg)

0
1
2
3
4
5

In [27]:
linearity

{}

### Assumption 2

In [ ]:
# Number of observations needs to be greater than the number of columns

In [ ]:
data.shape

### Assumpution 3

In [ ]:
# No or very less multicollinearity

In [ ]:
feature_names = data.columns.tolist()

In [ ]:
vifs = {}
for i in range(X.shape[1]-1):
    rsq = sm.OLS(endog = y, exog = X[:,i]).fit().rsquared
    vif = round(1/(1-rsq))
    vifs[feature_names[i]] = vif

In [ ]:
vifs

### Assumption 4

In [ ]:
# Variance of dependent variables needs to be positive

In [ ]:
variance = {}
for i in data.columns.tolist():
    variance[i] = (data[i].std())**2

In [ ]:
variance

# Assumption 5

In [ ]:
# no or very less autocorrelation

#### Durbin watson test

# Assumption 6

In [ ]:
# Normal disribution of residuals

In [ ]:
sns.distplot(residuals)
plt.title("Residial plot")

In [ ]:
# One more way to check the data is normally distributed, In a bell curve
# the mean=median=mode thus zero skew or very very less skew

In [ ]:
pd.DataFrame(resduals).skew()

In [ ]:
# Normally Disributed

# Assumption 7

In [ ]:
# Residual needs to be a constant or equal variance across the trend line

In [ ]:
plt.plot(y, reg.resid, 'b.')
plt.show()

In [ ]:
# Let's look for a statistical backing, because graphs are from Laymen.

In [ ]:
import statsmodels.stats.diagnostic as ssd

In [ ]:
lm, l_pvalue, f_statistic, f_pvalue = ssd.het_breuschpagan(reg.resid, X)

In [ ]:
print(f_pvalue)

In [ ]:
# With high p values we regest the null hypothesis, the data is hetroskedastic